nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    border: 1px solid rgb(37, 37, 37);
    cursor: pointer;
    padding: 1rem 1.5rem;
    transition: all 0.3 ease;
    color: rgb(37, 37, 37);
    transition: background-color 1s ease-in;
  
    &:hover {

  
    }
  }
}

@media screen and (max-width:768px){
  nav{
    button{
      z-index: 10; 
    }
  }
}
