.playlist {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 50px rgb(197, 196, 196);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0; 

  h2 {
    padding: 2rem;
  }
}

.playlist-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;

  img {
    width: 30%;
  }

  &:hover {
    background: rgb(236, 235, 235);
    transform: scale(1.01);
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }

}

.selected{
  background: rgb(227, 227, 247);
  
}

.active-playlist{
  transform: translateX(0%);
  opacity: 1; 
}

